*{
    font-family: 'DM Sans', sans-serif;
   
}
body{
    background-color: #0b0c0d;
    /* background-image: url('img/nyc-bg.jpg'); */
    /* background-color: #cccccc; */
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    
}




.fname{
    color: #FF2A4D;
    font-size: 5em;
    font-weight: 400;
    /* font: 'DM Serif Display'; */
}
.lname{
    color: #EEEEEE;
    font-size: 5em;
    font-weight: 800;
}

.wrapper-title{
    /* display: grid;
    place-items: center */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.subtitle{
    display: grid;
    place-items: center;
    font-size: 1.5em;
    color: #f7f7f7;
 
}


.project-subtitle{
    font-size: 1em;
}

.emilda{
    display: inline;
}

.blue-color{
    color: #f7f7f7;
}
.center-text{
    display: grid;
    place-items: center;
    text-align: center;
}

.link-format{
    color: #f7f7f7;

}

.quote{
    font-size: 1em;
}

.profile-pic{
    width: 280px;
    height: 280px;
    border-radius: 4%;
    object-fit: cover;
    margin-bottom: 50px;
    /* border: 2px solid #EEEEEE */
}

.page-2{
    display: grid;
    place-items: center;
    

}

.playlists{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sp-1{
    width: 300px;
    height: 380px;
    border-radius: 4%;
    margin-right: 20px;
    margin-left: 20px;
}
.text-box{
    max-width: 800px;
}

.margin-add{
    margin-top: 20px;
}
@media screen and (max-width:700px){
    .wrapper-title{
    display: grid;
    place-items: center;
    font-size: 2.2vw;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    .subtitle{
        display: grid;
        place-items: center;
        font-size: 4vw;
        color: #EEEEEE;
        padding-left: 10px;
        padding-right: 10px;
     
    }
    .profile-pic{
        display: grid;
        place-items: center;
        width: 200px;
        height: 200px;
        margin-top: 20px;
    }

}
